@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width: 830px) {
   

body{
    background-color: rgb(0, 238, 255);
}

h1{
    text-align: center;
}

main{
    background-color: white;
    height: 350px;
    justify-content: center;
    width: 300px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

article#horario{
    font-size: 2em;
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    margin: auto;
    display: block;
    margin-top: 25px;
}
}